/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */
.main-header {
    display: flex;
    flex-direction: column-reverse;
}

#menu {
    display: none;
    /* Hacer funcionar el checkbox -> Hacer funcionar el menú hamburgüesa */
}

/* ----------------------------------------------- */
/* NAVBAR                                          */
/* ----------------------------------------------- */

.nav-bar {
    background-color: mediumaquamarine;
  /*   display: none; */

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
    }

    &__nav-item { /* .nav-bar__nav-item */
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        background-color: purple;
        padding: 1rem 2rem;
        color: white;
    }
}

/* ----------------------------------------------- */
/* SEARCH BAR                                      */
/* ----------------------------------------------- */

.search-bar {
    display: flex;
    background-color: #fefefe;
    justify-content: space-evenly;
    height: 70px;
    
    &__logo-container { /* .search-bar__logo-container */
        width: 10rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__logo-container img {
        max-width: 10rem;
    }
    
    &__form-container { /* .search-bar__form-container */
        padding: 1rem;
        
        background-color: #fefefe;
        display: flex;
        flex-basis: 100%;
        padding: 5px;
        gap: 2px;
    }

    &__form-label {
        width: 0;
        visibility: hidden;
        color: rgb(192, 125, 183);
    }
    
    &__form-search {
        border-radius: 5px;
        width: 90%;
        background-color: #fefefe;
    }
    
    &__form-submit {
        border-radius: 5px;
        background-color: #fefefe;
    }
    
    &__carrito-container {
        /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
        align-self: center;
        border-radius: 5px;
        flex: 0 0 3rem; /* shorthand (grow-shrink-basis) */
        background-color: #fefefe;
    }

    &__carrito-container img {
        width: 100%;
    }
}

/* ----------------------------------------------- */
/* MENU TOOGLE                                     */
/* ----------------------------------------------- */

.menu-toogle {
    display: block;

    background-color: red;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer; /* Hace que aparezca la "manito" en el puntero, al pararse arriba */

    &__label { /* .menu-toogle__label */
        display: block;
        background-color: #fefefe;
        height: 100%;
    }

    &__top-bread,         /* .menu-toogle__top-bread */
    &__meat,              /* .menu-toogle__top-bread */
    &__bottom-bread {     /* .menu-toogle__top-bread */
        display: block;
        background-color: #333;
        height: 0.4rem;
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
    }

    &__top-bread {
        top: .8rem;
    }

    &__meat { /* centrando vérticalmente sin flex */
        top: 50%;
        margin-top: -.2rem; /* le resto la mitad de lo que mide (.4rem) */
    }

    &__bottom-bread {
        bottom: .8rem;
    }
}